<div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Kemiripan Dokumen</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <div id="typography">
                <div class="card-title">
                  <h3>Panduan Penggunaan Aplikasi</h3>
                </div>
                <div class="row">
                  <div class="tim-typo">
                    <h5>
                      <span class="tim-note">1. User Sign Up untuk bisa masuk ke halaman Login</span></h5>
                      <h5><span class="tim-note">2. Pada halaman Login, masukkan email dan password</span></h5>
                     <h5> <span class="tim-note">3. Masukkan Data Kutipan</span></h5>
                      <h5><span class="tim-note">4. Masukkan Data Sumber Kutipan</span></h5>
                      <h5><span class="tim-note">5. Pada Menu Input Teks akan dicek bobot dan kemiripan dari Teks Kutipan dan Sumber Kutipan</span></h5>
                      <h5><span class="tim-note">6. User Logout  </span>  
                  </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>